body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
header {
  background-color: #001f3f;
  color: white;
  padding: 20px;
  text-align: center;
}

